<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="YashAdmin/_Meta" />
    <title>@ViewData["Title"] - GS Cookie Order Tracker</title>
    <!-- Favicon icon -->
    <link rel="shortcut icon" type="image/png" href="~/yashadmin/images/favicon.png">
    @RenderSection("YashAdmin_style", false)
    <link href="~/yashadmin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <!-- Style css -->
    <link class="main-css" href="~/yashadmin/css/style.css" rel="stylesheet">
</head>
<body>
    <partial name="YashAdmin/_PreLoader" />
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <partial name="YashAdmin/_NevHeader" />
        <partial name="YashAdmin/_Header" />
        <partial name="YashAdmin/_Sidebar" />
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <partial name="YashAdmin/_Footer" />
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!-- Required vendors -->
    <script src="~/yashadmin/vendor/global/global.min.js"></script>
    <script src="~/yashadmin/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/yashadmin/vendor/metismenu/js/metisMenu.min.js"></script>
    <script src="~/yashadmin/js/deznav-init.js"></script>
    <script src="~/yashadmin/js/custom.min.js"></script>

    @RenderSection("YashAdmin_script", false)
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
