@{
	
	ViewData["Heading"] = "My Project";
}
<div class="content-body">
	<!-- row -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 active-p">
				<div class="card">
					<div class="card-body px-0">
						<div class="table-responsive active-projects user-tbl  dt-filter">
							<table id="user-tbl" class="table shorting">
								<thead>
									<tr>
										<th>
											<div class="form-check custom-checkbox ms-0">
												<input type="checkbox" class="form-check-input" id="checkAll" required="">
												<label class="form-check-label" for="checkAll"></label>
											</div>
										</th>
										<th>Assigned To</th>
										<th>Email</th>
										<th>Project Name</th>
										<th>Date Of Start</th>
										<th>Date Of End</th>
										<th>Action</th>

									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="form-check custom-checkbox">
												<input type="checkbox" class="form-check-input" id="customCheckBox2" required="">
												<label class="form-check-label" for="customCheckBox2"></label>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<img src="~/yashadmin/images/contacts/pic1.jpg" class="avatar rounded-circle" alt="">
												<p class="mb-0 ms-2">Niam Risher</p>
											</div>
										</td>
										<td>demo@gmail.com</td>
										<td>YashAdmin</td>
										<td>12 Jan 2024</td>
										<td>10 Jan 2024</td>
										<td>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right" style="">
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-check custom-checkbox">
												<input type="checkbox" class="form-check-input" id="customCheckBox22" required="">
												<label class="form-check-label" for="customCheckBox22"></label>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<img src="~/yashadmin/images/contacts/pic2.jpg" class="avatar rounded-circle" alt="">
												<p class="mb-0 ms-2">John Risher</p>
											</div>
										</td>
										<td>jr@gmail.com</td>
										<td>Uena</td>
										<td>15 Jan 2024</td>
										<td>10 Jan 2024</td>
										<td>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right" style="">
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-check custom-checkbox">
												<input type="checkbox" class="form-check-input" id="customCheckBox255" required="">
												<label class="form-check-label" for="customCheckBox255"></label>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<img src="~/yashadmin/images/contacts/pic3.jpg" class="avatar rounded-circle" alt="">
												<p class="mb-0 ms-2">Joshua Ethan</p>
											</div>
										</td>
										<td>je@gmail.com</td>
										<td>Jiade</td>
										<td>18 Jan 2024</td>
										<td>18 Jan 2025</td>
										<td>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right" style="">
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-check custom-checkbox">
												<input type="checkbox" class="form-check-input" id="customCheckBox222" required="">
												<label class="form-check-label" for="customCheckBox222"></label>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<img src="~/yashadmin/images/contacts/pic1.jpg" class="avatar rounded-circle" alt="">
												<p class="mb-0 ms-2">Michael Jose</p>
											</div>
										</td>
										<td>mj@gmail.com</td>
										<td>Bodyshape</td>
										<td>30 Jan 2024</td>
										<td>10 Jan 2024</td>
										<td>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right" style="">
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-check custom-checkbox">
												<input type="checkbox" class="form-check-input" id="customCheckBox33" required="">
												<label class="form-check-label" for="customCheckBox33"></label>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<img src="~/yashadmin/images/contacts/pic1.jpg" class="avatar rounded-circle" alt="">
												<p class="mb-0 ms-2">William James</p>
											</div>
										</td>
										<td>mj@gmail.com</td>
										<td>YashAdmin</td>
										<td>30 Jan 2024</td>
										<td>10 Jan 2024</td>
										<td>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right" style="">
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-check custom-checkbox">
												<input type="checkbox" class="form-check-input" id="customCheckBox4" required="">
												<label class="form-check-label" for="customCheckBox4"></label>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<img src="~/yashadmin/images/contacts/pic2.jpg" class="avatar rounded-circle" alt="">
												<p class="mb-0 ms-2">Aman Risher</p>
											</div>
										</td>
										<td>demo@gmail.com</td>
										<td>YashAdmin</td>
										<td>12 Jan 2024</td>
										<td>10 Jan 2024</td>
										<td>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right" style="">
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-check custom-checkbox">
												<input type="checkbox" class="form-check-input" id="customCheckBox44" required="">
												<label class="form-check-label" for="customCheckBox44"></label>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<img src="~/yashadmin/images/contacts/pic3.jpg" class="avatar rounded-circle" alt="">
												<p class="mb-0 ms-2">Smith Johnson</p>
											</div>
										</td>
										<td>sj@gmail.com</td>
										<td>YashAdmin</td>
										<td>12 Aug 2024</td>
										<td>12 Oct 2024</td>
										<td>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right" style="">
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-check custom-checkbox">
												<input type="checkbox" class="form-check-input" id="customCheckBox55" required="">
												<label class="form-check-label" for="customCheckBox55"></label>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<img src="~/yashadmin/images/contacts/pic1.jpg" class="avatar rounded-circle" alt="">
												<p class="mb-0 ms-2">Brown Johnson</p>
											</div>
										</td>
										<td>bj@gmail.com</td>
										<td>YashAdmin</td>
										<td>18 Feb 2024</td>
										<td>12 Oct 2024</td>
										<td>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right" style="">
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-check custom-checkbox">
												<input type="checkbox" class="form-check-input" id="customCheckBox5" required="">
												<label class="form-check-label" for="customCheckBox5"></label>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<img src="~/yashadmin/images/contacts/pic666.jpg" class="avatar rounded-circle" alt="">
												<p class="mb-0 ms-2">Donald Benjamin</p>
											</div>
										</td>
										<td>demo@gmail.com</td>
										<td>JIade</td>
										<td>18 Mar 2024</td>
										<td>10 Jan 2024</td>
										<td>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right" style="">
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-check custom-checkbox">
												<input type="checkbox" class="form-check-input" id="customCheckBox6" required="">
												<label class="form-check-label" for="customCheckBox6"></label>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<img src="~/yashadmin/images/contacts/pic2.jpg" class="avatar rounded-circle" alt="">
												<p class="mb-0 ms-2">Aman Risher</p>
											</div>
										</td>
										<td>demo@gmail.com</td>
										<td>YashAdmin</td>
										<td>12 Jan 2024</td>
										<td>10 Jan 2024</td>
										<td>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right" style="">
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-check custom-checkbox">
												<input type="checkbox" class="form-check-input" id="customCheckBox7" required="">
												<label class="form-check-label" for="customCheckBox7"></label>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<img src="~/yashadmin/images/contacts/pic555.jpg" class="avatar rounded-circle" alt="">
												<p class="mb-0 ms-2">Ponald Benjamin</p>
											</div>
										</td>
										<td>demo@gmail.com</td>
										<td>Tixia</td>
										<td>18 Mar 2024</td>
										<td>12 Oct 2024</td>
										<td>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right" style="">
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-check custom-checkbox">
												<input type="checkbox" class="form-check-input" id="customCheckBox8" required="">
												<label class="form-check-label" for="customCheckBox8"></label>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<img src="~/yashadmin/images/contacts/pic1.jpg" class="avatar rounded-circle" alt="">
												<p class="mb-0 ms-2">Oliver James</p>
											</div>
										</td>
										<td>demo@gmail.com</td>
										<td>W3Admin</td>
										<td>25 Jan 2024</td>
										<td>25 Feb 2024</td>
										<td>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right" style="">
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-check custom-checkbox">
												<input type="checkbox" class="form-check-input" id="customCheckBox9" required="">
												<label class="form-check-label" for="customCheckBox9"></label>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<img src="~/yashadmin/images/contacts/pic777.jpg" class="avatar rounded-circle" alt="">
												<p class="mb-0 ms-2">Benjamin Liam</p>
											</div>
										</td>
										<td>demo@gmail.com</td>
										<td>Finlab</td>
										<td>18 Mar 2024</td>
										<td>Friday</td>
										<td>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right" style="">
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-check custom-checkbox">
												<input type="checkbox" class="form-check-input" id="customCheckBox10" required="">
												<label class="form-check-label" for="customCheckBox10"></label>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<img src="~/yashadmin/images/user1.jpg" class="avatar rounded-circle" alt="">
												<p class="mb-0 ms-2">Phill James</p>
											</div>
										</td>
										<td>demo@gmail.com</td>
										<td>Edumin</td>
										<td>25 Jan 2024</td>
										<td>Tuesday</td>
										<td>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right" style="">
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-check custom-checkbox">
												<input type="checkbox" class="form-check-input" id="customCheckBox12" required="">
												<label class="form-check-label" for="customCheckBox12"></label>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<img src="~/yashadmin/images/contacts/pic1.jpg" class="avatar rounded-circle" alt="">
												<p class="mb-0 ms-2">Liam Risher</p>
											</div>
										</td>
										<td>demo@gmail.com</td>
										<td>YashAdmin</td>
										<td>12 Jan 2024</td>
										<td>Thu</td>
										<td>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right" style="">
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-check custom-checkbox">
												<input type="checkbox" class="form-check-input" id="customCheckBox13" required="">
												<label class="form-check-label" for="customCheckBox13"></label>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<img src="~/yashadmin/images/contacts/pic666.jpg" class="avatar rounded-circle" alt="">
												<p class="mb-0 ms-2">Eonald Benjamin</p>
											</div>
										</td>
										<td>demo@gmail.com</td>
										<td>W3CRM</td>
										<td>18 Mar 2024</td>
										<td>10 Jan 2024</td>
										<td>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right" style="">
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-check custom-checkbox">
												<input type="checkbox" class="form-check-input" id="customCheckBox14" required="">
												<label class="form-check-label" for="customCheckBox14"></label>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<img src="~/yashadmin/images/user1.jpg" class="avatar rounded-circle" alt="">
												<p class="mb-0 ms-2">Slijah James</p>
											</div>
										</td>
										<td>demo@gmail.com</td>
										<td>Fillow</td>
										<td>25 Jan 2024</td>
										<td>Tuesday</td>
										<td>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right" style="">
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-check custom-checkbox">
												<input type="checkbox" class="form-check-input" id="customCheckBox15" required="">
												<label class="form-check-label" for="customCheckBox15"></label>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<img src="~/yashadmin/images/contacts/pic777.jpg" class="avatar rounded-circle" alt="">
												<p class="mb-0 ms-2">Donald Benjamin</p>
											</div>
										</td>
										<td>demo@gmail.com</td>
										<td>FoodDesk</td>
										<td>18 Mar 2024</td>
										<td>10 Jan 2024</td>
										<td>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right" style="">
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-check custom-checkbox">
												<input type="checkbox" class="form-check-input" id="customCheckBox16" required="">
												<label class="form-check-label" for="customCheckBox16"></label>
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<img src="~/yashadmin/images/user1.jpg" class="avatar rounded-circle" alt="">
												<p class="mb-0 ms-2">Elijah James</p>
											</div>
										</td>
										<td>demo@gmail.com</td>
										<td>DoLab</td>
										<td>25 Jan 2024</td>
										<td>Tuesday</td>
										<td>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right" style="">
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</td>
									</tr>
								</tbody>

							</table>
						</div>
					</div>
				</div>

			</div>


		</div>
	</div>
</div>

@section YashAdmin_style
{
	<!-- Start Page Level CSS -->
	<link href="~/yashadmin/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
	<link href="~/yashadmin/vendor/jvmap/jquery-jvectormap.css" rel="stylesheet">
	<link href="~/yashadmin/vendor/datatables/css/buttons.dataTables.min.css" rel="stylesheet">
	<!-- End Page Level CSS -->
}

@section YashAdmin_script
{
	<!--**********************************
		Scripts
	***********************************-->
	<!-- Required vendors -->
	<script src="~/yashadmin/vendor/global/global.min.js"></script>
	<script src="~/yashadmin/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="~/yashadmin/vendor/apexchart/apexchart.js"></script>

	<!-- tagify -->
	<script src="~/yashadmin/vendor/datatables/js/jquery.dataTables.min.js"></script>
	<script src="~/yashadmin/vendor/datatables/js/dataTables.buttons.min.js"></script>
	<script src="~/yashadmin/vendor/datatables/js/buttons.html5.min.js"></script>
	<script src="~/yashadmin/vendor/datatables/js/jszip.min.js"></script>
	<script src="~/yashadmin/js/plugins-init/datatables.init.js"></script>

	<!-- Vectormap -->
	<script src="~/yashadmin/js/custom.min.js"></script>
	<script src="~/yashadmin/js/deznav-init.js"></script>
	<script src="~/yashadmin/js/demo.js"></script>
	
}