@{
	Layout = "~/Views/Shared/_LayoutYashAdminError.cshtml";
	
}
<div class="authincation  fix-wrapper">
	<div class="container">
		<div class="row justify-content-center h-100 align-items-center">
			<div class="col-md-6">
				<div class="error-page">
					<div class="error-inner text-center">
						<div class="dz-error" data-text="500">500</div>
						<h2 class="error-head mb-0"><i class="fa fa-times-circle text-danger me-2"></i> Internal Server Error</h2>
						<p>You do not have permission to view this resource</p>
						<a href="@Url.Action("Index", "YashAdmin")" class="btn btn-secondary">BACK TO HOMEPAGE</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>