@{
	Layout = "~/Views/Shared/_LayoutYashAdminAuth.cshtml";
	
}
<div class="authincation fix-wrapper">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <div class="text-center mb-3">
                                    <a href="@Url.Action("Index", "YashAdmin")"><img src="~/yashadmin/images/logo/logo-full.png" alt=""></a>
                                </div>
                                <h4 class="text-center mb-4">Sign up your account</h4>
                                <form action="@Url.Action("Index", "YashAdmin")">
                                    <div class="mb-3">
                                        <label class="mb-1 form-label">Username</label>
                                        <input type="text" class="form-control" placeholder="username">
                                    </div>
                                    <div class="mb-3">
                                        <label class="mb-1 form-label">Email</label>
                                        <input type="email" class="form-control" placeholder="hello@example.com">
                                    </div>
                                    <div class="mb-3 position-relative">
                                        <label class="form-label" for="dz-password">Password</label>
                                        <input type="password" id="dz-password" class="form-control" value="123456">
                                        <span class="show-pass eye">
                                            <i class="fa fa-eye-slash"></i>
                                            <i class="fa fa-eye"></i>
                                        </span>
                                    </div>
                                    <div class="text-center mt-4">
                                        <button type="submit" class="btn btn-primary btn-block">Sign me up</button>
                                    </div>
                                </form>
                                <div class="new-account mt-3">
                                    <p>Already have an account? <a class="text-primary" href="@Url.Action("PageLogin", "YashAdmin")">Sign in</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>