@{
	
	ViewData["Heading"] = "Light Gallery";
}
<div class="content-body">
	<div class="container-fluid">


		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Light Gallery</h4>
					</div>
					<div class="card-body pb-1">
						<div id="lightgallery" class="row">
							<a href="/yashadmin/images/big/img1.jpg" data-src="/yashadmin/images/big/img1.jpg" class=" lg-item col-lg-3 col-md-6 mb-4">
								<img src="~/yashadmin/images/big/img1.jpg" alt="" class="w-100 rounded">
							</a>
							<a href="/yashadmin/images/big/img2.jpg" data-src="/yashadmin/images/big/img2.jpg" class="lg-item col-lg-3 col-md-6 mb-4">
								<img src="~/yashadmin/images/big/img2.jpg" alt="" class="w-100 rounded">
							</a>
							<a href="/yashadmin/images/big/img3.jpg" data-src="/yashadmin/images/big/img3.jpg" class="lg-item col-lg-3 col-md-6 mb-4">
								<img src="~/yashadmin/images/big/img3.jpg" alt="" class="w-100 rounded">
							</a>
							<a href="/yashadmin/images/big/img4.jpg" data-src="/yashadmin/images/big/img4.jpg" class="lg-item col-lg-3 col-md-6 mb-4">
								<img src="~/yashadmin/images/big/img4.jpg" alt="" class="w-100 rounded">
							</a>
							<a href="/yashadmin/images/big/img5.jpg" data-src="/yashadmin/images/big/img5.jpg" class="lg-item col-lg-3 col-md-6 mb-4">
								<img src="~/yashadmin/images/big/img5.jpg" alt="" class="w-100 rounded">
							</a>
							<a href="/yashadmin/images/big/img6.jpg" data-src="/yashadmin/images/big/img6.jpg" class="lg-item col-lg-3 col-md-6 mb-4">
								<img src="~/yashadmin/images/big/img6.jpg" alt="" class="w-100 rounded">
							</a>
							<a href="/yashadmin/images/big/img7.jpg" data-src="/yashadmin/images/big/img7.jpg" class="lg-item col-lg-3 col-md-6 mb-4">
								<img src="~/yashadmin/images/big/img7.jpg" alt="" class="w-100 rounded">
							</a>
							<a href="/yashadmin/images/big/img8.jpg" data-src="/yashadmin/images/big/img8.jpg" class="lg-item col-lg-3 col-md-6 mb-4">
								<img src="~/yashadmin/images/big/img8.jpg" alt="" class="w-100 rounded">
							</a>
						</div>
					</div>
				</div>
				<!-- /# card -->
			</div>
		</div>
	</div>
</div>

@section YashAdmin_style
{
	<!-- Start Page Level CSS -->
	<link href="~/yashadmin/vendor/lightgallery/dist/css/lightgallery.css" rel="stylesheet">
	<link href="~/yashadmin/vendor/lightgallery/dist/css/lg-thumbnail.css" rel="stylesheet">
	<link href="~/yashadmin/vendor/lightgallery/dist/css/lg-zoom.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
	<!-- End Page Level CSS -->
}

@section YashAdmin_script
{
	<!--**********************************
		Scripts
	***********************************-->
	<!-- Required vendors -->
	<script src="~/yashadmin/vendor/global/global.min.js"></script>
	<!-- Light Gallery -->
	<script src="~/yashadmin/vendor/lightgallery/dist/lightgallery.min.js"></script>
	<script src="~/yashadmin/vendor/lightgallery/dist/plugins/thumbnail/lg-thumbnail.min.js"></script>
	<script src="~/yashadmin/vendor/lightgallery/dist/plugins/zoom/lg-zoom.min.js"></script>
	<script src="~/yashadmin/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="~/yashadmin/js/custom.min.js"></script>
	<script src="~/yashadmin/js/deznav-init.js"></script>
	<script src="~/yashadmin/js/demo.js"></script>
	
}