<!--**********************************
    Footer start
***********************************-->
<div class="footer">
    <div class="copyright">
        <p>Copyright &copy; GS Cookie Order Tracker <span class="current-year">2026</span> | <a asp-controller="Home" asp-action="Privacy">Privacy</a></p>
    </div>
</div>
<!--**********************************
    Footer end
***********************************-->
