<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div>
        <img src="~/yashadmin/images/pre.gif" alt="">
    </div>
</div>
<!--*******************
    Preloader end
********************-->
